.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #0f172a;
    padding-left: 30px;
    padding-right: 30px;
   
    position: relative;
    
}
.Nav div:nth-child(1){
    flex:2;
    color: aliceblue;
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}
.Nav div:nth-child(2){
    flex: 3;
    color: #0eaae8;
    font-weight: 500;
    height: 70px;
}

.Nav div:nth-child(2) ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
}
.Nav div:nth-child(2) ul > button{
    text-align: right;
    cursor: pointer;
    transition: all 1s;
    padding: 5px 20px 5px 20px;
   
}
.Nav div:nth-child(2) ul > button:hover{
    text-align: right;
    cursor: pointer;
    transform: translateY(-8px);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #0eaae8;
    color:white;
}
.Nav div:nth-child(2) > ul > button:nth-child(5){
  display: flex;
  flex-direction: row;
  gap:10px;
}
.Nav div:nth-child(2) > ul > button:nth-child(5) > img{
    text-align: right;
    float: right;
    display: row;
    flex-direction: row-reverse;
}

.Nav img:nth-child(3){
    cursor: pointer;
}



  


@media screen and (min-width: 320px) { 
    .Nav > div:nth-child(2){
        display: none;
    }
    .Nav > img:nth-child(3){
        display: block;
    }
    .Nav > #activeMenu{
        display: block;
    }
    .Nav > #activeMenu{
        position: absolute;
        top:70px;
        left: 0px;
        text-align: left;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        flex-direction: column;
        gap:5px;
        background-color: white;
        color: black;
        z-index: 1;
        width: 100%;
        margin: auto;
    }
    .Nav > #activeMenu > a{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 2px;
        margin-right: 35px;
    }
    .Nav > #activeMenu > a:hover{
        background: #642B73;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #C6426E, #642B73); 
        background: linear-gradient(to right, #C6426E, #642B73); 
        color: white;
    }
    .Nav > #inActiveMenu{
        display: none;
    }
     
 }
 @media screen and (min-width: 480px) {  
    .Nav > div:nth-child(2){
        display: none;
    }
    .Nav > img:nth-child(3){
        display: block;
    }
 }
 @media screen and (min-width: 600px) {  
    .Nav > div:nth-child(2){
        display: none;
    }
    .Nav > img:nth-child(3){
        display: block;
    }
 }
 @media screen and (min-width: 768px) {   
    .Nav > div:nth-child(2){
        display: none;
    } 
    .Nav > img:nth-child(3){
        display: block;
    }
 }
 @media screen and (min-width: 900px) {  
    .Nav > div:nth-child(2){
        display: block;
    }   
    .Nav > img:nth-child(3){
        display: none;
    }
    .Nav > #activeMenu {
        display: none;
      }
 }
 @media screen and (min-width: 1024px) { 
    .Nav > div:nth-child(2){
        display: block;
    }
    .Nav > #activeMenu {
        display: none;
      }
 }
 @media screen and (min-width: 1200px) {      
 }