.skill{
    height: 100vh;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.skill > h1:nth-child(1){
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill > div:nth-child(2){
    
    padding: 20px;
    background-color: #004484;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skill > div:nth-child(2) > span:nth-child(1){
    flex:1;
    color:whitesmoke;
    text-align: left;
    border-right: 1px solid white;
    padding-right: 10px;
}
.skill > div:nth-child(2) ul:nth-child(2){
    flex: 7;
    padding-left: 8px;
}
.skill > div:nth-child(2) ul:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.skill > div:nth-child(2) ul:nth-child(2) > li{
    position: relative;
    margin: 5px;
    padding: 8px;
    width: 20%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
.skill > div:nth-child(2) ul:nth-child(2) > li > img:nth-child(3){
    width: 35px;
    height: 35px;
    position: absolute;
    top: -5px;
    left: -5px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotating 4s linear infinite;
}

.skill > div:nth-child(2) ul:nth-child(2) > li >  img:nth-child(1){
    padding-top: 10px;
    margin: auto;
   
}
.skill > div:nth-child(3) >div{
    position: relative;
}
.skill > div:nth-child(3) > div > img:nth-child(2){
    position: absolute;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    animation: zoom-in-zoom-out 3s ease infinite;

}
.skill > div:nth-child(3) > div > div:nth-child(1) > h2{
    padding: 50px 10px 10px 10px;
    
}
.skill > div:nth-child(2) ul:nth-child(2) > li >p:nth-child(2){
    color: white;
    text-align: center;
    margin:5px 0px 2px 5px;
    font-size:16px;

}
.skill > div:nth-child(3){
    padding: 25px 20px 5px 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.skill > div:nth-child(3) > div{
  --c: #8A9B0F; /* the border color */
  --b: 10px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
  }
.skill > div:nth-child(3) > div:hover{
  background-color: rebeccapurple;
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

.skill > div:nth-child(4) {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  gap:10px;

  width: 60%;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
}
.skill > div:nth-child(4) > p:nth-child(1){
  font-size: 22px;
  color: white;
  font-weight: 600;
  padding-right: 10px;
  height: 100%;
}
.skill > div:nth-child(4) > div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-left: 1px solid white;
  padding: 5px 0px 5px 10px;
}

.tools{
  
  -webkit-box-shadow: -1px 8px 66px 12px rgba(0,0,0,0.39);
  -moz-box-shadow: -1px 8px 66px 12px rgba(0,0,0,0.39);
  box-shadow: -1px 8px 66px 12px rgba(0,0,0,0.39);
}
.tools > div > div > img {
  margin-bottom: 5px;
}

@keyframes rotating { 
    0% {
      transform: rotate(0deg);    
    }
    
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }



     /*Responsive Media Query codes*/
     @media screen and (min-width: 320px) { 
        .skill{
            height: 100%;
            padding-bottom: 50px;
        }
        .skill > div:nth-child(2) > span:nth-child(1){
            display: none;
        }
        .skill > div:nth-child(2) > ul:nth-child(2){
            display: flex;
            flex-direction: column;
            padding-left: 0px;
        }
        .skill > div:nth-child(2) > ul:nth-child(2) li{
            width: 100%;
        }
        .skill > div:nth-child(3) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 15px;
            column-gap: 15px;
        }
        .skill > div:nth-child(3) > div{
            width: 100%;
        }
        .skill > div:nth-child(4){
          display: flex;
          flex-direction:column;
          border: none;
          width: 80%;
          margin: auto;
        }
        .skill > div:nth-child(4) > p:nth-child(1){
          display: none;
        }
        .skill > div:nth-child(4) > div:nth-child(2){
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          border-left: none;
          row-gap: 20px;
          column-gap: 20px;
          padding-top: 20px;
          padding-left: 0px;
        }
        .skill > div:nth-child(4) > div:nth-child(2) > div{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
       }
       @media screen and (min-width: 480px) {  
          
       }
       @media screen and (min-width: 600px) {  
        .skill{
            height: 100%;
          }
          .skill > div:nth-child(2) > span:nth-child(1){
            display: none;
          }
          .skill > div:nth-child(2) > ul:nth-child(2){
            display: grid;
            grid-template-columns: repeat(2,1fr);
            row-gap: 8px;
            column-gap: 8px;
            padding-left: 0px;
            
          }
          .skill > div:nth-child(2) > ul:nth-child(2) li{
            width: 100%;
            padding: 0px 5px 5px 5px;
            margin: 0px;
          }
       }
       @media screen and (min-width: 768px) {   
        .skill > div:nth-child(3) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 15px;
            column-gap: 15px;
        }
        .skill > div:nth-child(3) > div{
            width: 100%;
        }
        .skill > div:nth-child(4) > div:nth-child(2){
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-left: none;
          row-gap: 20px;
          column-gap: 20px;
          padding-top: 20px;
          padding-left: 0px;
        }
          
       }
       @media screen and (min-width: 900px) {  
         .skill{
            height: 100%;
          }
          .skill > div:nth-child(2) > span:nth-child(1){
            display: none;
          }
          .skill > div:nth-child(2) > ul:nth-child(2){
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 8px;
            column-gap: 8px;
            padding-left: 0px;
            margin: 5px;
          }
          .skill > div:nth-child(2) > ul:nth-child(2) li{
            width: 100%;
            padding: 0px 5px 5px 5px;
            margin: 0px;
            padding-bottom: 5px;
          }
       
       }
       @media screen and (min-width: 1024px) { 
        .skill > div:nth-child(3) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 15px;
            column-gap: 15px;
        }
        .skill > div:nth-child(3) > div{
            width: 100%;
        }
        .skill > div:nth-child(4) > div:nth-child(2){
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          border-left: none;
          row-gap: 20px;
          column-gap: 20px;
          padding-top: 20px;
          padding-left: 0px;
        }
       }
       @media screen and (min-width: 1200px) { 
        .skill {
          height: 100vh;
        }  
        .skill > div:nth-child(2) > span:nth-child(1){
            display: block;
          }
        .skill > div:nth-child(2) > ul:nth-child(2){
            display: flex;
            flex-direction: row;
            padding-left: 0px;
          }
        .skill > div:nth-child(3) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 15px;
            column-gap: 15px;
        }
        .skill > div:nth-child(3) > div{
            width: 100%;
        }
        .skill > div:nth-child(4) {
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 15px;
          align-items: center;
          gap:10px;
         
          width: 60%;
          margin: auto;
          margin-top: 15px;
          border-radius: 10px;
        }
        .skill > div:nth-child(4) > p:nth-child(1){
          font-size: 22px;
          color: white;
          font-weight: 600;
          padding-right: 10px;
          text-align: center;
          height: 100%;
          width: 100%;
          display: block;
        }
        .skill > div:nth-child(4) > div:nth-child(2){
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
          border-left: 1px solid white;
          padding: 5px 0px 5px 10px;
        }
        .skill > div:nth-child(4) > div:nth-child(2) > div > img {
          width: 55%;
          height: 55%;
        }
       }